---
interface Props {
  title: string
  description: string
  images: string[]
  side: string
}
const { title, description, images, side} = Astro.props
---

<article class=" w-full h-full">
  <div class="container mx-auto lg:px-32 lg:pt-24 border-b-2 mb-10 pb-14">
    <div class="text-center pb-10">
      <h1 class="font-bold text-5xl mb-4 text-left">{title}</h1>
      <h1 class="text-3xl text-left text-gray-400">{description}</h1>
    </div>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">     
      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
        <img src={images[0]} loading="lazy" alt="Referential image" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
      </div>
  
      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
        <img src={images[1]} loading="lazy" alt="Referential image" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
      </div>

      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
        <img src={images[2]} loading="lazy" alt="Referential image" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />        
        {
          side === 'right' ?
            <a class="relative ml-4 mb-3 inline-block md:ml-5">
              <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-orage-600 dark:bg-orange-600/50 shadow-2xl hover:scale-110 hover:bg-orange-600">
                <svg class="w-5 h-5 text-white dark:text-white rtl:rotate-180" aria-hidden="true" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
              </span>
          </a>
          :
          <></>
        }
      </div>

      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
        <img src={images[3]} loading="lazy" alt="Referential image" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
        {
          side === 'left' ?
            <a class="relative ml-28 mb-3 inline-block md:ml-80">
              <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-orage-600 dark:bg-orange-600/50 shadow-2xl hover:scale-110 hover:bg-orange-600">
                <svg class="w-5 h-5 text-white dark:text-white rtl:rotate-180" aria-hidden="true" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
              </span>
            </a>
          :
          <></>
        }
      </div>
    </div>
  </div>
</article>