---
import GalleryItem from "./GalleryItem.astro"

const socksImages = [
    "./cloth/Alpaca/image-015.jpg",
    "./cloth/Alpaca/image-000.jpg",
    './cloth/Alpaca/image-031.jpg',
    './cloth/Alpaca/image-036.jpg',
  ]
  const sportSocksImages = [
    './cloth/Alpaca/image-020.jpg',
    './cloth/Alpaca/image-059.jpg',
    './cloth/Alpaca/image-054.jpg',
    "./cloth/Alpaca/image-021.jpg",
  ]
  const bedImages = [
    './cloth/Alpaca/image-047.jpg',
    './cloth/Alpaca/image-063.jpg',
    './cloth/Alpaca/image-023.jpg',
    './cloth/Alpaca/image-043.jpg',
  ]
  const glovesImages = [
    './cloth/Alpaca/image-067.jpg',
    './cloth/Alpaca/image-077.jpg',
    './cloth/Alpaca/image-072.jpg',
    './cloth/Alpaca/image-087.jpg',
  ]
  const knitGlovesImages = [
    './cloth/Alpaca/image-099.jpg',
    './cloth/Alpaca/imgp.jpg',
    './cloth/Alpaca/imgb.png',
    './cloth/Alpaca/imgc.jpg',
  ]
  const thermalImages = [
    './cloth/Alpaca/image-118.jpg',
    './cloth/Alpaca/image-119.jpg',
    './cloth/Alpaca/image-115.jpg',
    './cloth/Alpaca/image-106.png',
  ]
  const hatsImages = [
    './cloth/Alpaca/image-191.jpg',
    './cloth/Alpaca/image-156.jpg',
    './cloth/Alpaca/image-178.jpg',
    './cloth/Alpaca/image-155.jpg',
  ]
  const accessorieImages = [
    './cloth/Alpaca/image-153.jpg',
    './cloth/Alpaca/image-125.jpg',
    './cloth/Alpaca/image-154.jpg',
    './cloth/Alpaca/image-140.jpg',
  ]
---


<section id="gallery" class="">
  <GalleryItem 
    title='COMFORTABLE SOCKS'
    description='Step strong with our customizable socks! Style and comfort in every step!'
    images={socksImages}
    />

  <GalleryItem 
    title='SPORT SOCKS'
    description='Step strong with our customizable socks! Style and comfort in every step!'
    images={sportSocksImages}
    />

  <GalleryItem 
    title='HOME & BED SOCKS'
    description='Step strong with our customizable socks! Style and comfort in every step!'
    images={bedImages}
    />
{
/*
<div class="flex-none mr-4">
  <GaleryItem 
    title='KNIT GLOVES'
    description='Step strong with our customizable socks! Style and comfort in every step!'
    images={knitGlovesImages}
    />
</div>
*/
}

  <GalleryItem 
  title='LEATHER GLOVES'
  description='Elegance in every movement. Discover our premium leather gloves for a touch of style on any occasion.'
  images={glovesImages}
  />

  <GalleryItem 
    title='HATS & BEANIES'
    description='Step strong with our customizable socks! Style and comfort in every step!'
    images={hatsImages}
    />

  <GalleryItem 
    title='ACCESSORIES'
    description='Wrap yourself in warmth and style with our curated collection of hats and scarves. Embrace the season with flair!.'
    images={accessorieImages}
  />

  <GalleryItem 
    title='THERMAL UNDERWEAR'
    description='Warmth without sacrificing style. Discover our thermal underwear for total comfort in any weather.'
    images={thermalImages}
  />
  </section>